@model Events.Models.EventsDetailsViewModel
@{
    ViewData["Title"] = "Osavõtja info";
}

<!-- HERO HEADER -->
<partial name="_TinyHeaderPartial" />

<!-- HERO -->
<div class="bg-white mb-4">
    <div class="p-4 d-flex align-items-center justify-content-center">
        <!-- FORM ACTION? -->
        <form class="mb-4" asp-action="CompanyParticipant">
            <h4 style="color: var(--bg);">@ViewData["Title"]</h4>
            <partial name="_CompanyParticipantsPartial" model="Model" />
        </form>
    </div>
</div>