@model Events.Models.EventsDetailsViewModel
@{
    ViewData["Title"] = "Osavõtja info";
}

<!-- HERO HEADER -->
<div class="row g-0">
    <div class="col col-lg-3 bg p-3 text-white text-center"><h2>Osavõtja info</h2></div>
    <div class="col" style="background-image: url('../Img/libled.jpg'); background-size: cover;"></div>
</div>

<!-- HERO -->
<div class="bg-white mb-4">
    <div class="p-4 d-flex align-items-center justify-content-center">
        <!-- FORM ACTION? -->
        <form class="mb-4">
            <h4 style="color: var(--bg);">Osavõtja info</h4>
            <div class="form-group row p-1">
                <label for="inputNimi" class="col-lg-4 col-form-label">Eesnimi:</label>
                <div class="col-sm-8">
                    <input type="nimi" class="form-control" id="inputNimi" value="Model.Eesnimi">
                </div>
            </div>
            <div class="form-group row p-1">
                <label for="inputAeg" class="col-lg-4 col-form-label">Perenimi:</label>
                <div class="col-sm-8">
                    <input type="aeg" class="form-control" id="inputAeg" value="Model.Perekonnanimi">
                </div>
            </div>
            <div class="form-group row p-1">
                <label for="inputKoht" class="col-lg-4 col-form-label">Isikukood:</label>
                <div class="col-sm-8">
                    <input type="koht" class="form-control" id="inputKoht" value="Model.Isikukood">
                </div>
            </div>
            <div class="form-group row p-1">
                <label for="FormSelect" class="col-lg-4 col-form-label">Maksmisviis:</label>
                <div class="col-sm-8">
                    <select type="maksmisviis" class="form-select" id="FormSelect">
                        <option>Sularaha</option>
                        <option>Pangaülekanne</option>
                    </select>
                </div>
            </div>
            <div class="form-group row p-1">
                <label for="inputInfo" class="col-lg-4 col-form-label">Lisainfo:</label>
                <div class="col-sm-8">
                    <textarea class="form-control" id="inputInfo" type="info" rows="3" value="Model.Private_Lisainfo"></textarea> <!-- here goes with at too to read the value -->
                </div>
            </div>
            <div class="mt-5">
                <a onclick="history.back()" class="btn py-1 m-1" style="background-color: #e1e1e1;">Tagasi</a>
                <button type="submit" class="btn text-white py-1 m-1" style="background-color: var(--bg);">Salvesta</button>
            </div>
        </form>
    </div>
</div>