@model Events.Models.EventsDetailsViewModel
@{
    ViewData["Title"] = "Osavõtja info";
}

<!-- HERO HEADER -->
<partial name="_TinyHeaderPartial" />

<!-- HERO -->
<div class="bg-white mb-4">
    <div class="col-xl-5 mx-auto p-4">
        <!-- FORM ACTION? -->
        <form class="mb-4" asp-action="PrivateParticipant">
            <h4 style="color: var(--bg);">@ViewData["Title"]</h4>
            <partial name="_PrivateParticipantsPartial" model="Model" />
        </form>
    </div>
</div>