:root {
    --bg: #005aa1;
}

body {
    background-color: #eff2f4;
    font-family: 'Open Sans', sans-serif;
}

footer {
    background-color: #373737;
}

.bg {
    background-color: var(--bg);
}

.active, .nav-link:hover {
    color: white !important;
    background-color: var(--bg);
}
