@model Events.Models.AddEvents

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AddEvents</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toimumisaeg" class="control-label"></label>
                <input asp-for="Toimumisaeg" class="form-control" />
                <span asp-validation-for="Toimumisaeg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koht" class="control-label"></label>
                <input asp-for="Koht" class="form-control" />
                <span asp-validation-for="Koht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lisainfo" class="control-label"></label>
                <input asp-for="lisainfo" class="form-control" />
                <span asp-validation-for="lisainfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Admin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
